{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Reportería</title>
    <link rel="stylesheet" href= "{% static 'css/Seguridad.css' %}">
</head>
<body>
    <aside class="sidebar">
        <div class="logo">Reporteria ❤️</div>
        {% include 'navbar.html' %}
    </aside>
    <main class="content">
        <header class="header">
            <h1>Reporte Seguridad</h1>
            <div class="date-range">Fecha</div>
            <button class="connect-data-button" onclick="window.location.href='/desc_pdf_contabilidad'" >Descarga PDF</button>
            <button class="connect-data-button" onclick="window.location.href='/descargar/contabilidad/'" >Descarga PDF de s3</button>
        </header>
        <section class="dashboard">
            <div class="card security">
                <div class="card-header">
                    <h3>Usuarios de Seguridad (Simulado)</h3>
                    <button class="export-button"><span></span></button>
                </div>
                <div class="card-body table-summary">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Email</th>
                                <th>Dirección</th>
                                <th>Ciudad</th>
                            </tr>
                        </thead>
                        <tbody id="security-users">
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span>Filtrar por:</span>
                        <select id="filter-column">
                            <option value="name">Nombre Completo</option>
                            <option value="email">Email</option>
                            <option value="address">Dirección</option>
                            <option value="city">Ciudad</option>
                        </select>
                        <input type="text" id="filter-value" placeholder="Término de búsqueda">
                        <button id="apply-filter">Filtrar</button>

                        <span>Ordenar por:</span>
                        <select id="sort-column">
                            <option value="name">Nombre Completo</option>
                            <option value="email">Email</option>
                            <option value="address">Dirección</option>
                            <option value="city">Ciudad</option>
                        </select>
                        <select id="sort-order">
                            <option value="asc">Ascendente</option>
                            <option value="desc">Descendente</option>
                        </select>
                        <button id="apply-sort">Ordenar</button>

                        <span>1-10 / 10</span>
                        <button>&lt;</button>
                        <button>&gt;</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'Fakeapi.js' %}"></script>
</body>
</html>