<!DOCTYPE html>
<html>
<head>
    <title>Editar Datos del PDF</title>
    
</head>
<body>
    <h1>Editar Datos del PDF</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="encargado">Nombre del Encargado:</label>
            <input type="text" id="encargado" name="encargado" required>
        </div>

        <div>
            <label for="area">Area:</label>
            <input type="text" id="area" name="area" required>
        </div>
        
        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        </div>
        
        <h2>Datos de Cuentas</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>t
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Codigo Cuenta</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                <tr>
                    <td><input type="text" name="nombre_{{ usuario.id }}" value="{{ usuario.name }}"></td>
                    <td><input type="text" name="usuario_{{ usuario.id }}" value="{{ usuario.username }}"></td>
                    <td><input type="email" name="email_{{ usuario.id }}" value="{{ usuario.email }}"></td>
                    <td><input type="text" name="calle_{{ usuario.id }}" value="{{ usuario.address.street }}"></td>
                    <td><input type="text" name="ciudad_{{ usuario.id }}" value="{{ usuario.address.city }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit">Generar y Descargar PDF</button>
    </form>
</body>
</html>