<!DOCTYPE html>
<html>
<head>
    <title>Editar Datos del PDF</title>
    
</head>
<body>
    <h1>Editar Datos del PDF</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="encargado">Nombre del Encargado:</label>
            <input type="text" id="encargado" name="encargado" required>
        </div>

        <div>
            <label for="area">Area:</label>
            <input type="text" id="area" name="area" required>
        </div>
        
        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        </div>
        
        <h2>Datos de Stock</h2>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>sku</th>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>costo</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td><input type="text" name="{{ producto.id }}" value="{{ producto.id }}"></td>
                    <td><input type="text" name="{{ producto.sku }}" value="{{ producto.sku }}"></td>
                    <td><input type="text" name="{{ producto.title }}" value="{{ producto.name }}"></td>
                    <td><input type="text" name="{{ producto.description }}" value="{{ producto.description }}"></td>
                    <td><input type="text" name="{{ producto.price }}" value="{{ producto.price }}"></td>
                    <td><input type="text" name="{{ producto.cost }}" value="{{ producto.cost }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit">Generar y Descargar PDF</button>
    </form>
</body>
</html>