<nav class="menu">
    <a href="{% url 'MainPage' %}"
       class="{% if request.resolver_match.url_name == 'MainPage' %}active{% endif %}">
        <span class="icon"><i class="fas fa-chart-bar"></i></span><span>Inicio</span>
    </a>
    <a href="{% url 'Proveedores' %}"
       class="{% if request.resolver_match.url_name == 'Proveedores' %}active{% endif %}">
        <span class="icon"><i class="fas fa-truck"></i></span><span>Proveedores</span>
    </a>
    <a href="{% url 'Contabilidad' %}"
       class="{% if request.resolver_match.url_name == 'Contabilidad' %}active{% endif %}">
        <span class="icon"><i class="fas fa-calculator"></i></span><span>Contabilidad</span>
    </a>
    <a href="{% url 'Despacho' %}"
       class="{% if request.resolver_match.url_name == 'Despacho' %}active{% endif %}">
        <span class="icon"><i class="fas fa-truck-fast"></i></span><span>Despacho</span>
    </a>
    <a href="{% url 'Adquisiciones' %}"
       class="{% if request.resolver_match.url_name == 'Adquisiciones' %}active{% endif %}">
        <span class="icon"><i class="fas fa-cart-shopping"></i></span><span>Adquisiciones</span>
    </a>
    <a href="{% url 'Stock' %}"
       class="{% if request.resolver_match.url_name == 'Stock' %}active{% endif %}">
        <span class="icon"><i class="fas fa-boxes-stacked"></i></span><span>Stock</span>
    </a>
    <a href="{% url 'Seguridad' %}"
       class="{% if request.resolver_match.url_name == 'Seguridad' %}active{% endif %}">
        <span class="icon"><i class="fas fa-shield-alt"></i></span><span>Seguridad</span>
    </a>
    <a href="#">
        <span class="icon"><i class="fas fa-circle-question"></i></span><span>Ayuda</span>
    </a>
</nav>