{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel de Reportería — Stock</title>
  <link rel="stylesheet" href="{% static 'css/Seguridad.css' %}">
</head>
<body>
  <aside class="sidebar">
   
    {% include 'navbar.html' %}
  </aside>
  <main class="content">
    <header class="header">
      <h1>Reporte de Stock</h1>
      <div class="date-range">Fecha</div>
      <button class="connect-data-button" onclick="window.location.href='/editar_pdf_stock'">Editar pdf</button>
      <button class="connect-data-button" onclick="window.location.href='/desc_pdf_products'" >Descarga PDF</button>
      <button class="connect-data-button" onclick="window.location.href='/descargar/productos/'" >Descarga PDF de s3</button>
      
    </header>

    <section class="dashboard">
      <div class="card stock">
        <div class="card-header">
          <h3>Productos</h3>
        </div>
        <div class="card-body table-summary">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Sku</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Costo</th>
              </tr>
            </thead>
            <tbody id="products-table">
              {% for producto in productos %}
              <tr>
                <th>{{ producto.id }}</th>
                <th>{{ producto.sku }}</th>
                <th>{{ producto.name }}</th>
                <th>{{ producto.description }}</th>
                <th>{{ producto.price }}</th>
                <th>{{ producto.cost }}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="pagination">
            <span>Filtrar por:</span>
            <select id="filter-column">
              <option value="title">Título</option>
              <option value="category">Categoría</option>
            </select>
            <input type="text" id="filter-value" placeholder="Buscar...">
            <button id="apply-filter">Filtrar</button>

            <span>Ordenar por:</span>
            <select id="sort-column">
              <option value="title">Título</option>
              <option value="price">Precio</option>
            </select>
            <select id="sort-order">
              <option value="asc">Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
            <button id="apply-sort">Ordenar</button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="{% static 'js/productsapi.js' %}"></script>
</body>
</html>
