{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel de Reportería — Adquisiciones</title>
  <link rel="stylesheet" href="{% static 'css/Adquisiciones.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <aside class="sidebar">
    <div class="logo">Reporteria❤️</div>
    {% include 'navbar.html' %}
  </aside>
  <main class="content">
    <header class="header">
      <h1>Reporte de Adquisiciones</h1>
      <div class="header-actions"> 
        <div class="date-range" id="current-date"></div>
        <button class="download-pdf-button" onclick="window.location.href='/desc_pdf_products'">Descarga PDF</button>
        <button class="download-s3-button" onclick="window.location.href='/api/pdf/stock'">Descarga PDF de S3</button>
    </div>
    </header>

    <section class="dashboard">
      <div class="card stock">
        <div class="card-header">
          <h3>Adquisiciones</h3>
        </div>
        <div class="card-body table-summary">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Precio compra</th>
                <th>Cantidad</th>
                <th>Producto</th>
              </tr>
            </thead>
            <tbody id="products-table"></tbody>
          </table>

          <div class="pagination">
            <span>Filtrar por:</span>
            <select id="filter-column">
              <option value="title">Título</option>
              <option value="category">Categoría</option>
            </select>
            <input type="text" id="filter-value" placeholder="Buscar...">
            <button id="apply-filter">Filtrar</button>

            <span>Ordenar por:</span>
            <select id="sort-column">
              <option value="title">Título</option>
              <option value="price">Precio</option>
            </select>
            <select id="sort-order">
              <option value="asc">Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
            <button id="apply-sort">Ordenar</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="{% static 'js/AdquisiApi.js' %}"></script>
  <script src="{% static 'js/FechaActual.js' %}"></script>
</body>
</html>