{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel de Reportería — Contabilidad</title>
    <link rel="stylesheet" href="{% static 'css/Contabilidad.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <aside class="sidebar">
        <div class="logo">Reporteria❤️</div>
        {% include 'navbar.html' %}
    </aside>
    <main class="content">
        <header class="header">
            <h1>Reporte de Contabilidad</h1>
            <div class="header-actions"> 
                <div class="date-range" id="current-date"></div>
                <button class="connect-data-button" onclick="window.location.href='/desc_pdf_contabilidad'" >Descarga PDF</button>
                <button class="connect-data-button" onclick="window.location.href='/api/pdf/contabilidad'" >Descarga PDF de s3</button>
            </div>
        </header>
        <section class="dashboard">
            <div class="card stock"> 
                <div class="card-header">
                    <h3>Contabilidad</h3>
                </div>
                <div class="card-body table-summary">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Monto</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody id="contabilidad-table"></tbody> </table>

                    <div class="pagination">
                        <span>Filtrar por:</span>
                        <select id="filter-column-cont"> <option value="descripcion">Descripción</option>
                            <option value="tipo">Tipo</option>
                            </select>
                        <input type="text" id="filter-value-cont" placeholder="Buscar..."> <button id="apply-filter-cont">Filtrar</button> <span>Ordenar por:</span>
                        <select id="sort-column-cont"> <option value="id">ID</option>
                            <option value="fecha">Fecha</option>
                            <option value="monto">Monto</option>
                            <option value="tipo">Tipo</option>
                            <option value="descripcion">Descripción</option>
                        </select>
                        <select id="sort-order-cont"> <option value="asc">Ascendente</option>
                            <option value="desc">Descendente</option>
                        </select>
                        <button id="apply-sort-cont">Ordenar</button> </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/ContApi.js' %}"></script> 
    <script src="{% static 'js/FechaActual.js' %}"></script>
</body>
</html>