<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>datos de usuarios</h1>

    <a href="/" class="btn">Inicio</a>

    <div id="container_usuarios">
        {% for usuario in usuarios %}
        <div class="user">
            <h2>{{usuario.name}}</h2>
            <p>{{usuario.username}}</p>
            <p>{{usuario.email}}</p>
            <p><strong>Direccion</strong></p>
            <ul>
                <li><strong>Calle: </strong>{{usuario.address.street}}</li>
                <li><strong>Numero casa: </strong>{{usuario.address.suite}}</li>
                <li><strong>Ciudad: </strong>{{usuario.address.city}}</li>
                <li><strong>Codigo zip: </strong>{{usuario.address.zipcode}}</li>
            </ul>

        </div>
        {% endfor %}


    </div>

    <!--
     "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
    -->
    
</body>
</html>